{% extends 'base.html.twig' %}

{% block title %}Page Jeu{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {#{{ dump() }}#}
    <div {{ react_component('PageJeuComponent', { 'countdownSeconds': countdownSeconds, 'musiques': musique }) }}></div>
</div>
{% endblock %}