{% extends 'base.html.twig' %}

{% block title %}Page Jeu{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ dump(options) }}
    <div {{ react_component('PageJeuComponent', { 'countdownSeconds': 5, 'musiques': [{'id': 1, 'timestamp': 10, 'titre': 'Oui', 'answerCorrect': false, 'answer': ''}, {'id': 1, 'timestamp': 20, 'titre': 'Non', 'answerCorrect': false, 'answer': ''}] }) }}></div>
</div>
{% endblock %}