{% extends 'base.html.twig' %}

{% block title %}Edit Musique{% endblock %}

{% block body %}
<style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <div class='imageBackground'>
            <div {{react_component('CircleContainerForProfilePictureComponent',{ 'id':'123','username' : 'marie13', 'firstName':'jofjro', 'lastName':'onjkn', 'password':'hhhh', 'imageUrl': 'https://logodix.com/logo/330698.png'}) }}></div>
            <div class='detailsMusiqueContainer'>
                <div class='welcomeText'>Modification de la musique</div>
                <div class="child">
                    {{ include('musique/_form.html.twig', {'button_label': 'Mettre à jour'}) }} 
                </div>
                <div class="tableContainerAnother">
                    <p><a href="{{ path('app_musique_index') }}" class='resultTableText'><i class="fa-sharp fa-solid fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retour cers la liste de musiques</a></p>
                    {{ include('musique/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
