{% extends 'base.html.twig' %}

{% block title %}Configuration de la partie{% endblock %}

{% block body %}
<style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <div>
            <div {{react_component('CircleContainerForProfilePictureComponent',{ 'username': user.username, 'id': user.id, 'firstName': user.prenom, 'lastName': user.nom, 'password': user.password ,'imageUrl': 'https://logodix.com/logo/330698.png'}) }}></div>
            <div class='detailsMusiqueContainer'>
                <div class='welcomeText'>Configuration de la partie</div>
                <div class='tableContainerAnotherBigger'>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="littleContainer">
                        <button class="btn btn-mybtn">{{ button_label|default('Commencer') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
