@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Coolgumz';
    src: local('Coolgumz'), url(../fonts/Coolgumz.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: local('Lato-Light'), url(../fonts/Lato-Light.ttf) format('truetype');

}
body {
    background: linear-gradient(55deg,#8CADDB, #AE8CDB);
}
.imageBackground {
    position: relative;
  }
  
  .imageBackground:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('../images/MusicNote.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .imageBackgroundLogin:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('../images/MusicNote.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  

 
.containerAccueil{
    position: relative;
    margin: 1em auto; max-width: 800px; width: 100%;
   
}

.containerLogin{
    position: relative;
    margin: 1em auto; max-width: 800px; width: 100%;
   
}
.welcomeText {
    font-family: 'Coolgumz';
    font-size: 55px;
    text-align: center;
    color: #EAE5E1;
    text-shadow: 2px 4px 4px rgba(	51, 121, 170, 0.6);
}


.loginText{
    font-family: 'Coolgumz';
    font-size: 30px;
    text-align: center;
    color: #EAE5E1;
    text-shadow: 2px 4px 4px rgba(	51, 121, 170, 0.6);
}

.introductionText {
    font-family: 'Lato-Light';
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin:20px;
    color: #EAE5E1;
    text-shadow: 2px 4px 4px rgba(	51, 121, 170, 0.6);
}
.btn-mybtn{
    background-color: #333333;
    color: white;
    font-family: 'Lato-Light';
    font-weight: 600;
    border: 3px solid transparent;
    outline: none;
    transition: background-color 0.3s ease-out;
  }
  
.btn-mybtn:hover {
    background-color: #EAE5E1;
    border: 3px solid #333333;
    color: #333333;
}
.btn-xxl {
    padding: 1.5rem 2.5rem;
    font-size: 1.2rem;
  }

.positionButtonCenter{
    text-align: center;
    padding: 1em;
}
.positionButtonDownLeft{
    position: relative;
    height: 300px; /* hauteur arbitraire pour l'exemple */
}
.btn-mybtnDeconnexion{
    background-color: #E55055;
    color: white;
    font-family: 'Lato-Light';
    font-weight: 600;
    border: 3px solid transparent;
    outline: none;
    transition: background-color 0.3s ease-out;
}
.btn-mybtnDeconnexion:hover {
    background-color: #EAE5E1;
    border: 3px solid #E55055;
    color: #E55055;
}

.circle-image-container {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.circle-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-content {
    background: linear-gradient(55deg,#8CADDB, #AE8CDB);
  }

.form-control-sm{
    width: 50%;
    display: flex;
    align-items: center;
    flex: 1;
    font-family: 'Lato-Light';
    font-size: 16px;
    font-weight: 600;
    margin:10px;
    border: none;
    box-sizing: content-box;
    border-bottom: 2px solid #EAE5E1;
    color: #EAE5E1;
    background: none;
}

.profileLabelText {
    font-family: 'Lato-Light';
    font-size: 20px;
    font-weight: 600;
    margin:10px;
    color: #EAE5E1;
    text-shadow: 2px 4px 4px rgba(	51, 121, 170, 0.6);
    width: 25%;
}

.form-control{
    width: 50%;
    display: flex;
    align-items: center;
    flex: 1;
    font-family: 'Lato-Light';
    font-size: 16px;
    font-weight: 600;
    margin:10px;
    border: none;
    box-sizing: content-box;
    border-bottom: 2px solid #333333;
    color: #333333;
    background: none;
}



.loginLabelText {
    font-family: 'Lato-Light';
    font-size: 20px;
    font-weight: 600;
    margin:10px;
    color: #333333;
    text-shadow: 2px 4px 4px rgba(	51, 121, 170, 0.6);
    width: 25%;
}

.profileLabelText,
.form-control-sm {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 0;
}

.form-group-sm{
    align-items: center;
    padding: .5em;
}

.loginLabelText,
.form-control {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 0;
}

.form-group{
    align-items: center;
    padding: .5em;
}

.form-control-sm[readonly] {
    border-bottom: none;
}
  
.form-control-sm:not([readonly]):focus {
    background: none;
    outline: none;
}

.form-control-sm:focus {
    outline: none;
  }

.form-control:focus {
    background: none;
    outline: none;
}
  

.loginCard{
   position: relative;
   text-align: center;
   display: inline;
   justify-content: center;
   align-items: center;
   
   
}

.mx-auto{
  width: 60%;
  margin-left: 50%;
  margin-right: 50%;
  background: linear-gradient(55deg,#EAD0AF, #EAE5E1);
  margin-top: 50px;
  
}

.inscriptionLabelText{
   padding-top: 15px;
   font-size: 15px;

}

.mybtn-login{
    padding-top: 20px;
}
.passwordLabelText{
    padding-top: 7px;
}

.mybtn-inscription{
    padding-top: 15px;
    padding-bottom: 15px;
}