{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
<style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <div>
            <div {{react_component('CircleContainerForProfilePictureComponent',{ 'username': user.username, 'id': user.id, 'firstName': user.prenom, 'lastName': user.nom, 'password': user.password ,'imageUrl': 'https://logodix.com/logo/330698.png'}) }}></div>
            <div class='detailsMusiqueContainer'>
                <div class='welcomeText'>Modification de l'utilisateur</div>
                <div class="child">
                    {{ include('utilisateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
                <div class="tableContainerAnother">
                    <p><a href="{{ path('app_utilisateur_index') }}" class='resultTableText'><i class="fa-sharp fa-solid fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retour vers la liste d'utilisateurs</a></p>
                    {{ include('utilisateur/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
